<h1>This is the index</h1>

<div>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</div>

<div>
  <%= link_to "Create a new list", new_list_path %>
</div>
